<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BK PRINT</title>
    <link rel="stylesheet" href="./asset/font/fontawesome/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="./asset/css/nav_css.css">
    <link rel="stylesheet" href="./asset/css/style1.css">
</head>
<body>
    <nav class="nav">
        <a href="/"><h2 class="logo">BK PRINT</h2></a>
    </nav>
    <div style="height:400px;">
    </div>
    <h3 style="text-align: center;">Có lỗi từ yêu cầu của bạn <a href="/" style="text-align:center;">Về trang chủ</a></h3>
</body>
</html>