<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BK PRINT</title>
    <link rel="stylesheet" href="./asset/font/fontawesome/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="./asset/css/nav_css.css">
    <link rel="stylesheet" href="./asset/css/style4.css">
</head>
<body>
    <nav class="nav">
        <a href="index.html"><h2 class="logo">BK PRINT</h2></a>

        <div class="user">
            <span class="budget">Số dư: <span class="quantity">75</span> Trang</span>
            
            <div class="user_info">
                <div class="user_icon">
                    <i class="fa-solid fa-user"></i>
                </div>
    
                <span class="user_name">Tên người dùng</span>

            </div>

            <div class="user_info--hidden">
                <span class="info">MSSV: <span class="info--mssv">2110509</span></span>
                <span class="info">Khoa: <span class="info--khoa">Khoa học và Kỹ thuật Máy tính</span></span>
    
                <div class="info-button">
                    <button type="button" class="button">Lịch sử</button>
                    <button type="button" class="button">Thay đổi thông tin</button>
                    <button type="button" class="button button_logout">Đăng xuất</button>
                </div>
            </div>
        </div>
    </nav>

    <article class="content">
        <div class="container">
            <i class="fa-regular fa-circle-check"></i>
            <span>Đặt in thành công</span>
            <div class="footer">
                <button type="button" class="continue">Xem trạng thái đơn hàng</button>
                <button type="button" onclick="window.location.href='index.html'" class="cancel">Trở về trang chủ</button>
            </div>
        </div>
    </article>
    <script src="./asset/js/main.js"></script>
</body>
</html>