<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BK PRINT</title>
    <link rel="stylesheet" href="./asset/font/fontawesome/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="./asset/css/nav_css.css">
    <link rel="stylesheet" href="./asset/css/style3.css">
</head>
<body>
    <nav class="nav">
        <a href="index.html"><h2 class="logo">BK PRINT</h2></a>

        <div class="user">
            <span class="budget">Số dư: <span class="quantity">75</span> Trang</span>
            
            <div class="user_info">
                <div class="user_icon">
                    <i class="fa-solid fa-user"></i>
                </div>
    
                <span class="user_name">Tên người dùng</span>

            </div>

            <div class="user_info--hidden">
                <span class="info">MSSV: <span class="info--mssv">2110509</span></span>
                <span class="info">Khoa: <span class="info--khoa">Khoa học và Kỹ thuật Máy tính</span></span>
    
                <div class="info-button">
                    <button type="button" class="button">Lịch sử</button>
                    <button type="button" class="button">Thay đổi thông tin</button>
                    <button type="button" class="button button_logout">Đăng xuất</button>
                </div>
            </div>
        </div>
    </nav>

    <article class="content">
        <div class="left">
            <img src="https://th.bing.com/th/id/R.1a7d1fa7f98dd3a4557abe44a8cc25cb?rik=O4E%2bwrR15i0www&pid=ImgRaw&r=0&sres=1&sresct=1" alt="">

            <div class="content_page">
                <i onclick="decCurPage()" class="increase fa-solid fa-angle-left"></i>

                <div class="current_page">
                    <input type="text" value="15">
                    <span>/<span class="total">20</span></span>
                </div>

                <i onclick="incCurPage()" class="decrease fa-solid fa-angle-right"></i>
            </div>
        </div>

        <div class="right">
            <form action="" method="post">
                <div class="form_item">
                    Chế độ in:
                    <select name="mode" id="mode">
                        <option value="all">In toàn bộ</option>
                        <option value="choose">In từng trang</option>
                        <option value="odd">In chỉ trang lẻ</option>
                        <option value="even">In chỉ trang chẵn</option>
                    </select>
                </div>

                <div class="form_item">
                    Trang in: 
                    <input class="select_page" type="text" placeholder="Nếu in từng trang thì gõ số trang cần in vào đây">
                </div>

                <div class="form_item">
                    Cỡ giấy:
                    <select name="size" id="size">
                        <option value="a5">A5 (210 x 148 mm)</option>
                        <option value="a4">A4 (297 x 210 mm)</option>
                        <option value="a3">A3 (420 x 297 mm)</option>
                        <option value="a2">A2 (594 x 420 mm)</option>
                        <option value="a1">A1 (841 x 594 mm)</option>
                    </select>
                </div>

                <div class="form_item">
                    Lề giấy:
                    <select name="margin" id="margin">
                        <option value="">Mặc định (Lề trên: 2,54 cm; Lề dưới: 2,54 cm; Lề trái: 2,54 cm; Lề phải: 2,54 cm)</option>
                        <option value="">Mặc định (Lề trên: 2,54 cm; Lề dưới: 2,54 cm; Lề trái: 2,54 cm; Lề phải: 2,54 cm)</option>
                    </select>
                </div>

                <div class="form_item">
                    Mặt in:
                    <div class="temp_container">
                        <div class="radio_item">
                            <input type="radio" name="side" value="1"> 
                            <label for="side">Một mặt</label>
                        </div>
    
                        <div class="radio_item">
                            <input type="radio" name="side" value="2"> 
                            <label for="side">Hai mặt</label>
                        </div>
                    </div>
                </div>

                <div class="form_item">
                    Hướng in:
                    <div class="temp_container">
                        <div class="radio_item">
                            <input type="radio" name="direction" value="doc"> 
                            <label for="side">Hướng dọc</label>
                        </div>
    
                        <div class="radio_item">
                            <input type="radio" name="direction" value="ngang"> 
                            <label for="side">Hướng ngang</label>
                        </div>
                    </div>
                </div>

                <div class="form_item">
                    Số trang / mặt:
                    <select name="page_per_side" id="page_per_side">
                        <option value="1">1 trang / mặt</option>
                        <option value="2">2 trang / mặt</option>
                        <option value="3">3 trang / mặt</option>
                        <option value="4">4 trang / mặt</option>
                    </select>
                </div>

                <div class="form_item">
                    Số lượng:
                    <div class="temp_container">
                        <input type="number" name="quantity" id="quantity" min="1">
                    </div>
                </div>
            </form>
        </div>
    </article>

    <div class="footer">
        <button onclick="window.location.href='index.html'" type="button" class="cancel">Hủy</button>
        <button type="button" class="continue">Thanh toán</button>
    </div>

    <script src="./asset/js/main.js"></script>
</body>
</html>