<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BK PRINT</title>
    <link rel="stylesheet" href="./asset/font/fontawesome/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="./asset/css/nav_css.css">
    <link rel="stylesheet" href="./asset/css/style1.css">
</head>
<body>
    <nav class="nav">
        <a href="index.html"><h2 class="logo">BK PRINT</h2></a>

        <div class="user">
            <span class="budget">Số dư: <span class="quantity">75</span> Trang</span>
            
            <div class="user_info">
                <div class="user_icon">
                    <i class="fa-solid fa-user"></i>
                </div>
    
                <span class="user_name">Tên người dùng</span>

            </div>

            <div class="user_info--hidden">
                <span class="info">MSSV: <span class="info--mssv">2110509</span></span>
                <span class="info">Khoa: <span class="info--khoa">Khoa học và Kỹ thuật Máy tính</span></span>
    
                <div class="info-button">
                    <button type="button" class="button">Lịch sử</button>
                    <button type="button" class="button">Thay đổi thông tin</button>
                    <button type="button" class="button button_logout">Đăng xuất</button>
                </div>
            </div>
        </div>
    </nav>

    <article class="content">
        <div class="header">
            <a href="index.html" class="home_icon">
                <i class="fa-solid fa-house"></i>
            </a>

            <span class="header_content">Mua thêm trang in</span>
        </div>

        <div class="container">
            <div class="budget_main">
                <h3 class="budget_header">Số dư hiện tại:</h3>
                <span class="budget_quantity">75 <span>trang</span></span>
            </div>
    
            <div class="buyPage">
                <h3 class="buyPage_header">Mua thêm trang in:</h3>
    
                <div class="payment">
                    <button class="payment--item" type="button">
                        <img src="./asset/img/momo.png" alt="BKPay">
                        <span>Thanh toán qua BKPay</span>
                    </button>
                    
                    <button class="payment--item" type="button">
                        <img src="./asset/img/momo.png" alt="">
                        <span>Thanh toán qua CKNH</span>
                    </button>
                    
                    <button class="payment--item" type="button">
                        <img src="./asset/img/momo.png" alt="Momo">
                        <span>Thanh toán qua Momo</span>
                    </button>
                </div>
            </div>
        </div>
    </article>

    <script src="./asset/js/main.js"></script>
</body>
</html>